* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seccion menu de navegacion*/
nav {
    height: 10vh;
    font-size: 2rem;
    background: linear-gradient(to bottom, #ff69b4cb, #808080ae, #ffffff);
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
}

/*seccion texto maquina de escribir*/
.contenedor-txtmaquina {
    text-align: center;
    margin-top: 10vh;
}

.texto-maquina {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid rgb(81, 77, 70);
    /* Simula el cursor de escritura */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: escribir 3s steps(30, end), glitter 3s ease infinite alternate;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    color: transparent;
    background: linear-gradient(45deg, #ff69b4, #ff1493, #db7093, #ff69b4);
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes glitter {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
}

/*imagenes proyectos*/
h2 {
    padding: 2%;
    margin-top: 5vh;
    text-align: center;
    background-color: #ff69b4;
    color: rgb(81, 77, 70);
}
.card{
    width:  100%;
    height: 30vw;
    padding: 2%;
    margin: 1%;
}
.tarjetas-proyectos {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    padding: 3%;
}

/*seccion proyectos figma*/
.iframe-figma {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 90vh;
}

/*seccion formulario*/
.form {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
}

#formulario {
    width: 90%;
    max-width: 500px;
    /* Ancho máximo ajustable según necesidad */
    padding: 5%;
    border-radius: 20px;
    border: #ff1493 2px solid;
    background: radial-gradient(circle at center, #ffffff, #808080c7, #ff69b4cb);
}

label {
    width: 100%;
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 20px;
    border: #ff1493 2px solid;
}

textarea {
    height: 20vh;
}

/*footer*/
footer {
    height: 10vh;
    margin-top: 5vh;
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #808080ae, #ff69b4cb);
}

/*modo oscuro*/
/* Agrega estilos para el modo oscuro */
body.modo-oscuro {
    background-color: #222;
    color: #ddd;
}

/* Estilos para el interruptor del modo oscuro */
.modo-oscuro-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.modo-oscuro-switch label {
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}

.modo-oscuro-switch input[type="checkbox"] {
    display: none;
}

.modo-oscuro-switch input[type="checkbox"]+label::before {
    content: "🌞";
    margin-right: 2px;
}

.modo-oscuro-switch input[type="checkbox"]:checked+label::before {
    content: "🌙";
}

/* Media queries para hacer el diseño responsive */

@media screen and (max-width: 768px) {
    .contenedor-txtmaquina {
        margin-top: 15vh;
    }

    .tarjetas-proyectos {
        flex-direction: column;
        align-items: center;
    }

    #formulario {
        width: 70%;
    }

    h2,
    h3 {
        font-size: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    nav {
        height: 25vh;
    }

    .tarjetas-proyectos {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 3%;
        padding: 3%;
    }
}